.menscontainer {
  .PopularSneakersContainer {
    .z-rotates-img {
      transition: transform 0.6s linear;
      &:hover {
        transform: scale(1.1);
      }
    }
    .top-three-container {
      .single-pick {
        background: linear-gradient(to right, #a748e2, #546e7a);

        // background: linear-gradient(to right, #0d47a1, #90a4ae);
      }
    }
  }
}
