.reset-password-page {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  video {
    position: fixed;
    top: 30;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    z-index: -1;
  }
  .reset-password-card {
    width: 40%;
    border-radius: 0.6em;
    border: 2px solid black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.137);

    .reset-password-header {
      padding: 22px;
      h2 {
        font-size: 35px;
      }
      h3 {
        margin-top: -20px;
        font-size: 30px;
      }
    }

    .left-column {
      width: 100%;
      display: flex;
      flex-flow: column;

      padding: 5px;
      font-weight: 600;

      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        margin-bottom: 20px;

        .input-info-container {
          width: 50%;
          display: flex;

          .info-icon {
            margin-left: 5px;
            margin-top: 10px;
          }
        }
        label {
          padding: 15px;
          font-size: 28px;
        }
        input {
          width: 90%;
          margin-bottom: 45px;
          margin-left: 15px;
          padding: 10px;
          font-size: 16px;

          border: none;
          background-color: rgba(255, 206, 247, 0.76);
          border-radius: 5px;

          &:focus {
            border: 2px solid #8e51ad;
          }
        }
      }
      .button-warning-containers {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        .warning-container {
          margin-top: -20px;
          p {
            color: rgb(180, 62, 62);
          }
        }
        button[type="submit"] {
          background-color: #8e51ad;
          color: rgb(255, 255, 255);
          width: 30%;
          border: none;
          border-radius: 0.4em;
          padding: 10px 20px;
          font-size: 26px;
          cursor: pointer;
          transition: background-color 0.2s;

          &:hover {
            background-color: #ac0ea4;
          }
        }
      }
    }
  }
}
