.productDetail-second-page {
  border-top: 4px solid purple;
  display: flex;
  justify-content: space-evenly;
  height: 89vh;
}
@media (max-width: 1740px) {
  .productDetail-second-page {
    flex-flow: column;
    height: inherit;
  }
}
