.seller-summary-page {
  padding: 28px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;

  .sellerSummary-left-sec {
    width: 60%;
  }
  .sellerSummary-right-sec {
    width: 38%;
    margin-left: 30px;
  }
}
