.sellerDropContainer {
  margin-top: 50px;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  overflow-x: hidden;
  h1 {
    margin-left: 20px;
  }
  .top-seller-drop {
    margin: 30px;
    display: flex;
    // justify-content: space-between;

    .order-card {
      //   transition: all 0.9s ease-in-out;
      margin: 10px;
      .order-linkbutton {
        border-radius: 0.8em;
        padding: 1px;
        &:hover {
          background-color: rgb(241, 214, 255);
        }
      }
      &:hover {
        transform: scale(1.04);
        cursor: cell;
      }
    }

    .order-content {
      div {
        font-size: 18px;
        color: black;
        span {
          font-size: 20px;
          font-weight: 700;
        }
      }
      .purchase-content {
        display: flex;
        .inner-purchase {
          margin-left: 13px;
        }
      }
    }
  }
}
