.seller-dashboard {
  .side-nav {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-flow: column;

    width: 350px;
    height: 100vh;
    font-size: 45px;

    background-color: rgb(48, 51, 78);
    border-right: 5px solid rgb(29, 7, 80);
    color: white;
    .logo-container {
      margin-top: 20px;
      margin-left: 20px;
      width: 300px;
      height: 230px;
      border: 5px solid rgb(113, 90, 172);
      border-radius: 0.6em;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .seller-root-liveproductbtn {
      position: fixed;
      bottom: 0;
      margin-bottom: 80px;
      margin-left: 20px;
      left: 10;
      font-size: 25px;
      width: 300px;
      background-color: rgb(106, 0, 168);
      padding: 10px 20px;
      border: none;
      color: aliceblue;
      border-radius: 0.8em;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .seller-root-signoutbtn {
      position: fixed;
      bottom: 0;
      margin-bottom: 20px;
      margin-left: 20px;
      left: 10;
      font-size: 25px;
      width: 300px;

      background-color: rgb(182, 101, 101);
      padding: 10px 20px;
      border: none;
      color: aliceblue;
      border-radius: 0.8em;
      &:hover {
        cursor: pointer;
        opacity: 0.8;
      }
    }
    .nl {
      margin-left: 40px;
      margin-bottom: 20px;
      color: white;
      span {
        color: rgb(48, 51, 78);
      }
      &:hover {
        cursor: pointer;
      }
    }
    a.active {
      color: rgb(195, 0, 255);
      span {
        color: rgb(195, 0, 255);
        margin-left: 2px;
      }
    }
  }
  .seller-main-container {
    margin-left: 350px;

    height: 100vh;
    .seller-header {
      display: flex;
      justify-content: center;
      margin-top: 0px;

      background-color: rgb(48, 51, 78);
      h1 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 55px;
        color: rgb(255, 255, 255);
      }
    }
    .seller-main-container-content {
      padding: 0px;
    }
  }
}
