.allTimeDataContainer {
  height: 429px;
  margin-top: 18px;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(48, 51, 78);
  color: aliceblue;
  h2 {
    margin-top: 0px;
    margin-bottom: -8px;
  }
  .single-transaction {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-top: 1rem;
    padding: 0.5rem 2.5rem 0.5rem 2.5rem;
    border-radius: 3px;
    background-color: rgba(38, 198, 249, 0.12);
    &:nth-child(even) {
      background-color: rgba(102, 108, 255, 0.12);
    }
  }
}
