.no-order-yet-outer {
  display: flex;
  .oi1 {
    margin-top: 30px;
    height: 10%;
    width: 32%;
  }
  .oi2 {
    margin-top: 5px;
    height: 10%;
    width: 28%;
  }
  .no-order-yet {
    width: 96vw;
    height: 400px;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    h1 {
      margin-top: 10px;
      margin-bottom: 5px;
      font-size: 40px;
    }
    .start-shopping-button {
      width: 50%;
    }
  }
}
.total-order {
  h2 {
    color: rgb(70, 5, 70);
    border-left: 3px dashed rgb(70, 5, 70);
  }
}

.full-order-container {
  font-size: 18px;
  color: purple;
  padding: 10px;

  span {
    font-size: 20px;
    font-weight: 700;
  }
}
.full-order-container:nth-child(even) {
  background-color: #dddddd;
}

.orderid-pending {
  display: flex;
  justify-content: space-between;
  .inner-orderid-container {
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -10px;
    .neworder-info {
      padding: 4px 15px;
      color: #ffffff;
      font-weight: 500;
      background-color: rgb(40, 175, 134);
      border-radius: 0.5em;
    }
  }
  .user-order-status {
    display: flex;
    height: 35px;
    .pending {
      background-color: red;
      padding: 5px 10px;
      color: #dddddd;
      font-weight: 500;
      border-radius: 0.5em;
      font-size: 20px;
      margin-right: 7px;
    }
    .dispatched {
      background-color: rgb(238, 190, 68);
      padding: 5px;
      color: #dddddd;
      font-weight: 500;
      border-radius: 0.5em;
      margin-right: 7px;
    }
    .delivered {
      background-color: rgb(65, 199, 65);
      padding: 5px;
      color: #dddddd;
      font-weight: 500;
      border-radius: 0.5em;
      margin-right: 7px;
    }
  }
}
.delivery-date-address {
  display: flex;
  margin-top: -18px;
  margin-bottom: -20px;

  .p2 {
    margin-left: 35px;
  }
}
.order-items-container {
  height: 500px;
}

.order-swiperlist {
  min-width: 300px;
}

.order-card {
  transition: all 1.9s ease-in-out;

  &:hover {
    transform: scale(1.02);
  }
}

.z-rotate-img {
  transition: transform 0.7s ease-in-out;
  &:hover {
    transform: rotate(18deg);
  }
}

.order-content {
  div {
    font-size: 18px;
    color: purple;
    span {
      font-size: 20px;
      font-weight: 700;
    }
  }
  .purchase-content {
    display: flex;
    .inner-purchase {
      margin-left: 13px;
    }
  }
}
