.cart-card-container {
  padding: 1em;
  display: flex;
  width: 75vw;
  height: 95vh;
  flex-flow: column;
  overflow-y: auto;
}
@media (max-width: 1467px) {
  .cart-card-container {
    width: 96vw;
  }
}
