.PopularSneakersContainer {
  margin-top: 50px;
  width: 96vw;
  margin-left: auto;
  margin-right: auto;
  h1 {
    margin-left: 20px;
  }
  .z-rotates-img {
    transition: transform 0.6s ease-in-out;
    &:hover {
      transform: rotate(-13deg);
    }
  }
  .top-three-container {
    display: flex;
    justify-content: space-evenly;
    .single-pick {
      display: flex;
      align-items: center;
      height: 200px;
      border-radius: 0.8em;
      color: white;

      background: linear-gradient(to right, #8b5cf6, #4f46e5);
      //   background: linear-gradient(to right, #8e44ad, #e27e68);
      .inner-details {
        padding: 12px;
        margin-bottom: 15px;
        font-size: 17px;
        h3 {
          margin-top: -10px;
        }
        h4 {
          margin-top: -5px;
        }
        .btns-container {
          margin-top: -5px;
          display: flex;
          align-items: center;
          .single-pick-addtocart {
            margin-left: 5px;
            button {
              padding: 5px;
              font-size: 19px;
              border-radius: 0.6em;
              border: 1px solid white;
              &:hover {
                cursor: pointer;
                opacity: 0.7;
              }
            }
          }
          .single-pick-wishlist {
            &:hover {
              cursor: pointer;
              opacity: 0.8;
            }
          }
        }
      }
      img {
        height: 380px;
      }
    }
  }
}
@media (max-width: 1890px) {
  .PopularSneakersContainer {
    h1 {
      margin-left: 350px;
    }
    .top-three-container {
      .single-pick {
        margin-top: 30px;
        justify-content: space-between;
        // height: 100px;
        // width: 200px;
        img {
          height: 250px;
        }
      }
    }
  }
}
@media (max-width: 1490px) {
  .PopularSneakersContainer {
    h1 {
      margin-left: 350px;
    }
    .top-three-container {
      .single-pick {
        // height: 100px;
        // width: 200px;
        img {
          height: 150px;
        }
      }
    }
  }
}
@media (max-width: 1190px) {
  .PopularSneakersContainer {
    h1 {
      margin-left: 350px;
    }
    .top-three-container {
      flex-flow: column;
      .single-pick {
        // height: 100px;
        // width: 200px;
        img {
          height: 350px;
        }
      }
    }
  }
}
