.channelChatContainer {
  //   height: 100vh;
  //   width: 100vw;

  width: 105.9%;
  height: 53rem;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;

  margin: 0px;
  //   margin-left: -50px;
  button[type="submit"] {
    padding: 0px;
  }
}
