.channelChatContainer {
  //   height: 92.5vh;
  //   width: 87vw;

  width: 106.3%;
  height: 53rem;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  //   height: 100vh;
  //   width: 100vw;
  margin: 0px;
  button[type="submit"] {
    padding: 0px;
  }
}
