.getsellerproducts {
  margin-top: 10px;
}
.order-action-btn-container {
  display: flex;

  .dbtn {
    background-color: rgb(250, 203, 75);
    padding: 3px 8px;
    margin: 5px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 0.4em;
    border: none;
    &:hover {
      opacity: 0.8;
    }
  }
  .ebtn {
    background-color: rgb(122, 219, 31);
    padding: 3px 8px;
    margin: 5px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 0.4em;
    border: none;
    &:hover {
      opacity: 0.8;
    }
  }
  .vbtn {
    background-color: rgb(2, 213, 228);
    padding: 1px 8px;
    margin: 5px;
    color: aliceblue;
    font-size: 20px;
    border-radius: 0.4em;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}
.order-status-values {
  .pending {
    color: rgba(255, 0, 0, 0.747);
    font-weight: 550;
  }
  .dispatched {
    color: rgb(218, 203, 3);

    font-weight: 600;
  }
  .delivered {
    color: rgb(65, 248, 9);
    font-weight: 600;
  }
}
.order-action-header {
  display: flex;
  width: 320px;
  justify-content: center;
}
