.viewsorderbtn {
  background-color: rgb(2, 213, 228);
  padding: 1px 10px;
  margin: 5px;
  color: aliceblue;
  font-size: 20px;
  border-radius: 0.4em;
  border: none;
  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}
.sellerorder-modal {
  background-color: aliceblue;
}
.sellerorder-modal-header {
  display: flex;
  justify-content: space-between;
  height: 90px;
  h1 {
    margin-top: -2px;
    margin-bottom: -5px;
    color: blueviolet;
  }
  .id-status-contianer {
    display: flex;
    .odId {
      background-color: rgba(176, 224, 230, 0.363);
      padding: 5px 10px;
      margin-right: 10px;
      border-radius: 0.9em;
      height: 38px;
      color: rgb(0, 195, 255);
    }
    .oSt {
      background-color: rgba(212, 212, 214, 0.637);
      padding: 5px 10px;
      margin-left: 5px;
      border-radius: 0.9em;
      height: 38px;
    }
    .Pending {
      background-color: rgba(255, 0, 0, 0.158);
      color: red;
    }
    .Dispatched {
      background-color: rgba(255, 251, 0, 0.418);
      color: rgb(182, 182, 36);
      font-weight: 700;
    }
    .Delivered {
      background-color: rgba(94, 255, 0, 0.24);
      color: rgb(107, 179, 14);
      font-weight: 700;
    }
  }
}
.viewSeller-order-container {
  .buyer-details {
    background-color: rgba(170, 87, 209, 0.226);
    padding: 1px 10px 25px 10px;

    border-radius: 0.7em;
    color: rgb(170, 87, 209);
    .bd-info-container {
      display: flex;
      justify-content: space-around;
      .bd-single-info {
        h3 {
          margin: 0px;
          margin-right: 10px;
        }
        span {
          font-size: 20px;
        }
        display: flex;
        background-color: rgba(170, 87, 209, 0.315);
        color: rgb(170, 87, 209);
        padding: 5px 15px;
        border-radius: 0.9em;
      }
    }
  }
  .delivery-details {
    margin-top: 20px;
    background-color: rgba(127, 91, 175, 0.363);
    padding: 0.5px 10px 25px 10px;

    border-radius: 0.7em;
    color: rgb(109, 51, 177);
    .bd-info-container {
      display: flex;
      justify-content: space-around;
      .bd-single-info {
        h3 {
          margin: 0px;
          margin-right: 10px;
        }
        span {
          font-size: 20px;
        }
        display: flex;
        background-color: rgba(118, 72, 161, 0.199);
        color: rgb(109, 51, 177);
        padding: 5px 15px;
        border-radius: 0.9em;
      }
    }
  }
  .seller-order-content {
    text-align: center;
    margin-top: 30px;
    border: 1px solid powderblue;
    border-radius: 0.8em;
    padding: 2px;

    table {
      width: 100%;
      border-collapse: collapse;

      td,
      th {
        max-width: 100px;
      }
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      .table-headers {
        font-size: 20px;
      }
      .table-result {
        padding: 15px;
        padding-right: 45px;
        font-size: 30px;
      }
      .final-result {
        font-size: 30px;
        font-weight: 600;
      }
      .final-result-amount {
        font-size: 23px;
        background-color: rgb(200, 181, 211);
      }
    }
    .cart-card-image {
      border-radius: 0.8em;
      height: inherit;

      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: 100%;
        width: 100px;
        object-fit: cover;
      }
    }
  }
  .button-warning-container {
    margin-top: 10px;
  }

  .form-inner-container {
    display: flex;
    flex: 1;
    width: 100%;

    justify-content: space-between;
    align-items: center;
    padding: 0px;

    .profile-img-container {
      margin-top: 10px;
      width: 40%;

      .c1 {
        width: 80%;
        height: 80%;
        border: 2px solid rgb(208, 208, 208);
        border-radius: 0.6em;
        background-color: rgba(255, 255, 255, 0.24);
        opacity: 0.8;
        overflow: hidden;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .left-column {
      width: 55%;
      display: flex;
      flex-flow: column;

      padding: 5px;
      .c2 {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        label {
          font-size: 21px;
          font-weight: 500;
        }
      }
      .formControl {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: first baseline;
        margin-left: 15px;
        .formLabel {
          font-size: 28px;
          color: black;
        }
      }
      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;

        label {
          padding: 15px;
          font-size: 28px;
        }
      }
    }
  }
}
