.user-sign-container {
  video {
    position: fixed;
    top: 30;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.7;
    z-index: -1;
  }
  .container {
    display: flex;
    flex-flow: column;
    align-items: center;

    min-height: 100vh;
    min-width: 100vw;

    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h2 {
      font-size: 40px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 22px;
      margin-top: -2px;
    }
    .h2or {
      margin-top: 5px;
      font-size: 30px;
      margin-bottom: 20px;
    }
    .user-forgot-password {
      font-size: 20px;
      margin-top: 20px;
      .forgot-password-link {
        color: rgb(109, 15, 138);
        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }

    .sign-other-button {
      font-size: 28px;
      color: rgb(109, 15, 138);
      &:hover {
        color: #ac0ea4;
        text-decoration: underline;
      }
    }
  }

  .form-inner-container {
    display: flex;
    flex: 1;
    width: 95vw;

    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin-top: 20px;

    .threeD-sneaker-container {
      border: none;
    }

    .left-column {
      width: 40%;
      display: flex;
      flex-flow: column;

      padding: 5px;
      font-weight: 600;

      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        margin-bottom: 20px;

        .input-info-container {
          width: 50%;
          display: flex;

          .info-icon {
            margin-left: 5px;
            margin-top: 10px;
          }
        }
        label {
          padding: 15px;
          font-size: 28px;
        }
      }
    }
    .blur-bg {
      background-color: rgba(253, 206, 255, 0.137);

      backdrop-filter: blur(10px);
      padding: 20px;
    }
    .right-column {
      width: 40%;
      display: flex;
      flex-flow: column;
      padding: 5px;
      font-weight: 600;

      .form-group {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;

        .input-info-container {
          width: 50%;
          display: flex;

          .info-icon {
            margin-left: 5px;
            margin-top: 10px;
          }
        }
        label {
          padding: 15px;
          font-size: 28px;
        }
      }
    }
    .select-group {
      display: flex;
      justify-content: space-between;

      opacity: 0.8;

      margin-top: -20px;
      margin-bottom: 30px;
      .input-info-container {
        width: 50%;
        display: flex;
        align-items: center;
        .info-icon {
          margin-left: 1px;
        }
      }

      MenuItem {
        font-size: 29px;
        background-color: rgba(255, 206, 247, 0.76);
      }

      .l1 {
        font-size: 28px;
        color: black;
      }

      label {
        padding-left: 10px;
        font-size: 20px;
        color: rgb(110, 110, 110);
        z-index: 1;
      }
    }
    input,
    select,
    textarea {
      width: 90%;
      margin-bottom: 45px;
      margin-left: 15px;
      padding: 10px;
      font-size: 16px;

      border: none;
      background-color: rgba(255, 206, 247, 0.76);
      border-radius: 5px;

      &:focus {
        border: 2px solid #8e51ad;
      }
    }
  }
}

form {
  .profile-img-container {
    display: flex;

    justify-content: center;
    align-items: center;
    .c1 {
      width: 200px;
      height: 200px;
      border: 5px solid rgb(109, 15, 138);
      border-radius: 50%;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .c2 {
      display: flex;
      flex-flow: column;
      label {
        padding: 0px 15px;
        font-size: 28px;
      }
      input {
        padding: 15px;
        font-size: 19px;
      }
    }
  }
  .button-warning-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
  button[type="submit"] {
    background-color: #8e51ad;
    color: #fff;
    width: 20%;
    border: none;
    border-radius: 0.4em;
    padding: 10px 20px;
    font-size: 26px;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: #ac0ea4;
    }
  }
  p {
    color: red;
    font-size: 20px;
  }
  .success-warning {
    color: rgb(30, 173, 30);
    font-size: 20px;
  }
}

@media (max-width: 1387px) {
  .user-sign-container {
    .form-inner-container {
      flex-flow: column;
      padding: 0px;
      .left-column {
        width: 80%;

        .form-group {
          flex-flow: column;
          .input-info-container {
            width: 80%;
          }
        }
      }
      .right-column {
        width: 80%;
        display: flex;
        flex-flow: column-reverse;

        .form-group {
          flex-flow: column;
          .input-info-container {
            width: 80%;
          }
        }
      }
      .select-group {
        flex-flow: column;
        .input-info-container {
          width: 83%;
        }
      }

      .threeD-sneaker-container {
        width: 0px;
        height: 0px;
        visibility: collapse;
      }
      button[type="submit"] {
        width: 60%;
      }
    }
  }
}
.are-you-seller {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  font-size: 22px;
  margin-top: -2px;
  margin-right: 19px;

  p {
    margin-left: 8px;
    font-size: 22px;
    color: #8e51ad;
    &:hover {
      text-decoration: underline;
    }
  }
}
[type="file"] {
  width: 50%;
  min-width: 14ch;
}

[type="file"]::file-selector-button {
  width: 109%;
  margin-inline-end: 0;
  padding: 0.6rem;
  background-color: rgba(255, 255, 255, 0.233);
  border: 3px solid black;
  border-radius: 0.6em;
  color: smoke;
  text-transform: uppercase;
  &:hover {
    cursor: pointer;
    opacity: 0.6;
  }
}
