.review-form {
  display: flex;
  flex-flow: column;
  width: 45vw;
  margin-top: 90px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  padding: 40px;
  padding-top: 20px;
  border: 7px double gold;
  outline: 8px double rgb(212, 0, 255);
  border-radius: 0.9em;
  h1 {
    font-size: 40px;
    margin-top: 1px;
  }
  .add-rating {
    display: flex;
    justify-content: center;
    margin-bottom: -15px;
  }
  button[type="submit"] {
    margin-right: 20px;
    margin-left: 20px;
    width: 96%;
  }
}
.review-warning {
  display: flex;
  justify-content: center;
  align-items: center;
}
.review-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  .rating-label {
    width: 30px;
    margin-left: 25px;
    font-size: 30px;
  }
}
.review-comment {
  margin: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
  label {
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  textarea {
    font-size: 25px;
  }
}
@media (max-width: 1740px) {
  .review-form {
    width: 80vw;
    .review-comment {
      textarea {
        font-size: 20px;
      }
    }
  }
}
