.userchannelbackground {
  background-image: url("../../../public/assets/images/valley.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
  width: 100vw;
  margin: 0px;
}
