.wishlist-page {
  .wishlist-page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -20px;
    position: relative;
  }
  .whishlist-header-inner-container {
    background-color: white;
    display: flex;
    align-items: center;
    z-index: 1;
    h1 {
      font-size: 45px;
      padding: 7px;
      margin-top: 15px;
      margin-bottom: 10px;
    }
  }
  .marquee-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    position: absolute;
    animation: marquee 10s linear infinite;
  }

  .marquee-text {
    display: flex;
    align-items: center;
  }

  @keyframes marquee {
    0% {
      margin-left: 150%;
    }
    100% {
      margin-left: -100%;
    }
  }
}
.clear-wishlist-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  .clearwishlist {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    border-radius: 0.6em;
    padding: 5px 10px;
    color: dimgray;

    border: 3px solid dimgrey;

    &:hover {
      cursor: pointer;
      opacity: 0.8;
      color: black;
      border: 3px solid black;
    }
  }
}
.wishlist-container {
  padding: 1em;
  display: flex;

  justify-content: space-evenly;

  width: inherit;

  height: 690px;

  padding: 15px;
  .wishlist-swiperslide {
    width: 310px;
  }
  .product-card-image img {
    height: 260px;
    width: 160%;
  }

  .product-card-buttons {
    flex-flow: column;
    width: 90%;
    .cart-btn {
      width: 270px;
    }
  }
  .wishlist-btns-container {
    display: flex;
    margin-top: 10px;
    border: 5px solid grey;
    border-radius: 0.7em;
    width: 270px;
    &:hover {
      cursor: pointer;
      border: 5px solid black;
      color: black;
      h3 {
        color: black;
      }
      .wishlist-btn {
        color: black;
      }
    }

    .remove-from-wishlist-txt {
      visibility: visible;
      font-size: 18px;
      color: rgb(70, 67, 67);
    }
  }
}
